<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1 class="text-center">Carcassonne Immobilier</h1>
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Carcassone Imobilier</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/">Accueil</a>
                            </li>
                            <li>
                                <a href="liste">Liste des annonces</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
